<div class="list-group">
  <a class="list-group-item list-group-item-action active" aria-current="true"
    >Tüm Renkler</a
  >
  <a
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.id}}"
    *ngFor="let color of colors"
    class="list-group-item list-group-item-action"
    >{{ color.colorName }}</a
  >
  <H3 *ngIf="currentColor">
    selected color : {{ currentColor.colorName }} {{ currentColor.id }}</H3
  >
</div>

<!-- <div class="row">
<label for="exampleColorInput" class="form-label">Color Filter</label>
<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#f8f9fa" title="White">
<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Black">
<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#dc3545" title="Red">
<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#0dcaf0" title="Blue">
<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#6c757d" title="Silver">
<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#ffc107" title="Yellow">
</div> -->