<div class="list-group">
  <a class="list-group-item list-group-item-action active" aria-current="true"
    ></a
  >
  <a
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.id}}"
    *ngFor="let color of colors"
    class="list-group-item list-group-item-action"
    >{{ color.colorName }}</a
  >
  <!-- <H3 *ngIf="currentColor">selected color : {{ currentColor.colorName }} {{ currentColor.id }}</H3> -->
</div>
<p></p>
<a *ngIf="currentColor" (click)="clearFilter()" class="list-group-item list-group-item-action" routerLink="">Clear Filter</a>

<div class="row mt-4">
  <div class="col-lg-9">
    <table class="table table-hover table-striped border">
      <thead>
        <tr>
          <th>ID</th>
          <th>Color Name</th>
          <th class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let color of colors | colorFilterPipe:filterText">
          <th>{{color.id}}</th>
          <td>{{color.colorName}}</td>
          <td class="text-end">
            <button class="btn btn-sm btn-success px-2" routerLink="/colors/update/{{color.id}}">
              <i class="bi-pencil me-1"></i>Update
            </button>
            <a>.  .</a>
            <button class="btn btn-sm btn-danger px-2" (click)="deleteColor(color)">
              <i class="bi-pencil me-1"></i>Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-warning px-2 fw-bold" routerLink="colors/add">Add New Color</button>
  </div>
</div>