<div class="list-group">
  <a class="list-group-item list-group-item-action active" ></a
  >
  <a
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.id}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
    >{{ brand.brandName }}</a
  >
  <p></p>
  <!-- <a *ngIf="currentBrand" class="list-group-item list-group-item-action">Selected Brand:{{ currentBrand.brandName }} Id:{{ currentBrand.id }}</a> -->
  <a *ngIf="currentBrand" (click)="clearFilter()" class="list-group-item list-group-item-action" routerLink="">Clear Filter</a>
</div>


<div class="row mt-4">
  <div class="col-lg-9">
    <table class="table table-hover table-striped border">
      <thead>
        <tr>
          <th>ID</th>
          <th>Brand Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands | filterBrand:filterText">
          <th>{{brand.id}}</th>
          <td>{{brand.brandName}}</td>
          <td class="text-end">
            <button class="btn btn-sm btn-success px-2" routerLink="/brands/update/{{brand.id}}">
              <i class="bi-pencil me-1"></i>Update
            </button>
            <a>.  .</a>
            <button class="btn btn-sm btn-danger px-2" (click)="deleteBrand(brand)">
              <i class="bi-pencil me-1"></i>Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-sm btn-warning px-2 fw-bold" routerLink="brands/add">Add New Brand</button>
  </div>
</div>