<!-- <div class="row content">
    <div class="col-md-12">
        <h1 class="app-title">Crud Test Reactive Form</h1>
    </div>
</div>
<div class="row content">
    <div class="col-md-offset-1 col-md-5">
        <div class="card">
            <div class="card-header">Form</div>
            <div class="card-body">
                
                <form autocomplete="off" [formGroup]="brandAddForm">
                    <div class="form-group" [ngClass]="{ 'has-error':isSubmited && _fc.brandName.errors }">
                        <label for="brandName">Brand Name</label>
                        <input type="text" class="form-control" id="brandName" formControlName="brandName">
                        <span *ngIf="isSubmited && _fc.brandName.errors" class="help-block">Brand Name is Required</span>
                    </div>
                    
                    <button type="button" class="btn btn-success" (click)="save()"> Submit </button>
                    <button type="button" class="btn btn-danger" (click)="reset()"> Reset </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card">
            <div class="card-header"> Brands </div>
            <div class="card-body">
                <table style="width:100%">
                    <tr>
                        <th>Brand Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor="let brand of brands">
                        <td>{{brand.brandName}}</td>
                        <td>
                            <button (click)="edit(brand.id)" class="btn btn-sm btn-warning" >
                                <span>Edit</span>
                            </button>
                            <button (click)="delete(brand.id)" class="btn btn-sm btn-warning" >
                                <span>Delete</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> -->

<!-- Retrying -->

<div class="row mt-4">
    <div class="col-log-9">
        <div class="card">
            <div class="card-header fw-bold">
                <i class="bi-plus-square me-1"></i>Add New Brand
            </div>
            <div class="card-body">
                <form autocomplate="off" [formGroup]="brandAddForm" (ngSubmit)="addNewBrandRefactored()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="brandName" placeholder="New Brand" formControlName="brandName">
                        <label for="brandName">Brand Name</label>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-dark px-5 fw-bold">
                            <i class="bi-plus-square me-1"></i>Add New Brand
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="d-grid">
            <button class="btn btn-warning" routerLink="/brands">
                <i class="bi-list me-1"></i>Back to Brands List
            </button>
        </div>
    </div>
</div>