
<main class="container" *ngFor="let carDto of carDetails">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="card mb-4 shadow p-3"> 
      <h1 class="display-4">About {{carDto.modelYear}} {{carDto.brandName}}</h1>
      <p class="lead">{{ carDto.description }}</p>
      <p class="lead">Create your Rent Request and wait for a short time. Your application will be approved and the car delivery process will start immediately</p>
    </div>
    
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow p-3">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Suggested</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{carDto.dailyPrice}} TL<small class="text-muted"> / dl</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Brand : {{ carDto.brandName }}</li>
          <li>Color : {{ carDto.colorName }}</li>
          <li>Model : {{ carDto.modelYear }}</li>
        </ul>
        <button type="button" class="w-100 btn btn-dark">Create Rent Request</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow p-3">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Traveller</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">%5 disc<small class="text-muted"> / mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Brand : {{ carDto.brandName }}</li>
          <li>Color : {{ carDto.colorName }}</li>
          <li>Model : {{ carDto.modelYear }}</li>
        </ul>
        <button type="button" class="w-100 btn btn-warning">Contact Us</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow p-3">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Voyager</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">%10 disc<small class="text-muted"> / yr</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Brand : {{ carDto.brandName }}</li>
          <li>Color : {{ carDto.colorName }}</li>
          <li>Model : {{ carDto.modelYear }}</li>
        </ul>
        <button type="button" class="w-100 btn btn-warning">Contact Us</button>
      </div>
    </div>
    </div>
  </div>

  <div class="card mb-4 shadow p-3"> 
    <ng-image-slider [images]="imageObject" [imageSize]="{width: 450, height: 300, space: 4}" #nav></ng-image-slider>
  </div>


<!-- <div *ngIf="defaultImgPath">
  <H3>There are no Images of This Car. </H3>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" alt="NoImageAvailable" >
  <h5>Default Patrh {{defaultImgPath}}</h5>
</div> -->

<div class="card mb-4 shadow p-3">
  <strong>Image Upload</strong>
  <div class="input-group">
    <input type="file" (change)="onFileSelected($event)" class="form-control" id="filePath" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
    <button *ngIf="fileSelected" class="btn btn-dark" type="button" id="inputGroupFileAddon04" (click)="onUpload()">Upload Image</button>
  </div>
</div>
