<div class="row mt-4">
    <div class="col-log-9">
        <div class="card">
            <div class="card-header fw-bold">
                <i class="bi-plus-square me-1"></i>Add New Color
            </div>
            <div class="card-body">
                <form autocomplate="off" [formGroup]="colorAddForm" (ngSubmit)="addNewColorRefactored()">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="colorName" placeholder="New Color" formControlName="colorName">
                        <label for="colorName">Color Name</label>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-dark px-5 fw-bold">
                            <i class="bi-plus-square me-1"></i>Add New Color
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="d-grid">
            <button class="btn btn-warning" routerLink="/colors">
                <i class="bi-list me-1"></i>Back to Color List
            </button>
        </div>
    </div>
</div>