<!-- Spinner -->
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-warning"
  role="status"
>
  <span class="visually-hidden">Yükleniyor...</span>
</div>

<!-- Card View -->
<div class="row">
  <div
    *ngFor="let carDto of carDetails"
    class="card"
    style="width: 18rem"
    class="carbox"
  >
    <img src="{{ carDto.imagePath }}" class="card-img-top" alt="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1200px-No_image_3x4.svg.png" />
    <div class="card-body">
      <h5
        (click)="setCurrentCar(carDto)"
        routerLink="/images/car/{{ carDto.carId }}"
        class="card-title"
      >
        {{ carDto.brandName }}
      </h5>
      <p class="card-text">
        Color : {{ carDto.colorName }} <br />
        Model Year : {{ carDto.modelYear }} <br />
        Description : {{ carDto.description }}
      </p>
      <a class="btn btn-success">Rent {{ carDto.dailyPrice }} TL </a>
      <a class="btn btn-danger">Return Car</a>
      <h5 *ngIf="currentCar">Seçtiniz. {{ currentCar.carId }}</h5>
    </div>
  </div>
</div>

<!-- Data Table -->
<table *ngIf="dataLoaded == true" class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Brand Name</th>
      <th>Color Name</th>
      <th>Model Year</th>
      <th>Daily Price</th>
      <th>Description</th>
    </tr>
  </thead>

  <tr *ngFor="let carDto of carDetails">
    <td>{{ carDto.carId }}</td>
    <td>{{ carDto.brandName }}</td>
    <td>{{ carDto.colorName }}</td>
    <td>{{ carDto.modelYear }}</td>
    <td>{{ carDto.dailyPrice }}</td>
    <td>{{ carDto.description }}</td>
  </tr>
</table>